#canvas {
	padding: 0px;
	margin: 0px;
	width: 50vw;
	height: 95vh;
}
#text {
  padding: 1vh;
	margin: 0px;
	width: 50vw;
	height: 95vh;
  background-color: rgb(232, 172, 255);
}
#bor{
  padding: 1vh;
  margin: 0px;
  width: 50vw;
	height: 95vh;
  background-color: rgb(74, 74, 87);
}
#wrap{
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 95vh;
}
#characterPage{
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.2em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
  width: 50 em;
  height: 97vh;
  overflow-y: auto;
  align-items: start;
  background-color: rgb(255, 255, 255);
}
#characterWrapper{
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 97vh;
  align-items: start;
  justify-content: center;
  background-color: rgb(187, 128, 241);
}
#manualWrapper{
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 97vh;
  background-color: rgb(92, 64, 117);
}
#spellCraftWrapper{
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 97vh;
  background-color: rgb(255, 255, 255);
}
#reportIssueWrapper{
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 97vh;
  background-color: rgb(91, 50, 129);
}
#statistics{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 50em;
  height: 97vh;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

#mainStats{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100em;
  height: 10em;
  background-color: rgb(255, 255, 255);
}

#characterNameWrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  width: 50em;
  height: 10em;
  background-color: rgb(253, 35, 206);
}

#physiqueLevelWrapper{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
  width: 10em;
  height: 10em;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-style: outset;
  border-width: 0.2em;
  border-radius: 0.5em;
}

#physiqueLevelLabel{
  box-sizing: border-box;
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 10em;
  height: 10em;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-style: outset;
  border-width: 0.2em;
  border-radius: 0.5em;
}

#physiqueLevelValue{
  box-sizing: border-box;
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 10em;
  height: 10em;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-style: outset;
  border-width: 0.2em;
  border-radius: 0.5em;
}

#intellectLevel{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 10em;
  height: 10em;
  background-color: rgb(12, 66, 37);
}

#willLevel{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 10em;
  height: 10em;
  background-color: rgb(61, 119, 87);
}

#healthPoints{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 10em;
  height: 10em;
  background-color: rgb(103, 202, 148);
}

#speed{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 10em;
  height: 10em;
  background-color: rgb(16, 34, 24);
}

/* #equipment{
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 50vw;
  height: 97vh;
  background-color: rgb(128, 241, 207);
} */

body {
  margin: 0px;
  padding: 0px;
}



/* .centered {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
} */


/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 1vh;
  padding: 1vh 11.7em;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0px 0px;
  border: 0px solid #ccc;
  border-top: none;
} 
